{% assign display_probability = 10 %}
{% assign cur_time = 'now' | date: "%L%6%9%H%M%S" %}
{% assign random = cur_time | modulo: 100 %}
{% if site.data.boldomatic.size > 0 %}
  {% assign index = random | minus: display_probability | modulo: site.data.boldomatic.size %}
{% else %}
  {% assign index = 0 %}
{% endif %}

{% if display_probability > random %}
  {% assign description = site.description %}
  {% assign display_link = false %}
{% elsif site.data.boldomtic.size == 0 %}
  {% assign description = site.description %}
  {% assign display_link = false %}
{% else %}
  {% assign description = site.data.boldomatic[index] %}
  {% assign display_link = true %}
{% endif %}

<header class="masthead">
  <div class="wrap">
    {% if site.logo %}
      <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
        <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
      </a>
    {% endif %}
    {% assign page_image = page.image.path | default: page.image %}
    {% unless page_image %}
      {% if page.url == '/' %}
        <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% else %}
        <div class="site-title "><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
      {% endif %}
      {% if display_link %}
        <p class="site-description " itemprop="description"><a href={{ description.url }} target="_blank">{{ description.title }}</a></p>
      {% else %}
        <p class="site-description " itemprop="description">{{ description }}</p>
      {% endif %}
    {% endunless %}
  </div>
</header><!-- /.masthead -->
